/* .colour-palette {
    color: #F2F2F2;
    color: #3D3D3D;
    color: #84B026;
    color: #217373;
    color: #173540;
    color: #161F30;
} */

html {
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.container-snap::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.container-snap {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.text-custom-yellow {
    color: #84B026;
}

.text-custom-blue {
    color: #217373;
}

.text-custom-white {
    color: #F2F2F2;
}

.text-custom-black {
    color: #161F30;
}

.text-size-header {
    font-size: 150px;
}

.font-header {
    font-family: "Space Mono", monospace;
}

.font-body {
    font-family: 'DM Mono', monospace;
}

.bg-custom-slate {
    background-color: #3D3D3D;
}

.bg-custom-white {
    background-color: #F2F2F2;
}

.bg-custom-navy {
    background-color: #173540;
}

.bg-grid-img {
    background-image: url(./Assets/BG_Grid.svg);
}